@model ProjectBoardWebApp.Models.Organizations

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Organizations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StagingUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StagingUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrgID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
