@model IEnumerable<ProjectBoardWebApp.Models.Organizations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading">
    Organizations
    <div class="ml-auto">
        <a class="btn btn-labeled btn-info mb-2" asp-action="Create">
            <span class="btn-label">
                <i class="fa fas fa-plus-square"></i>
            </span>Add Organization
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table" id="bootgrid-basic">
                <thead>
                    <tr>
                        <th data-column-id="Organization">
                            @Html.DisplayNameFor(model => model.OrgName)
                        </th>
                        <th data-column-id="Address1">
                            @Html.DisplayNameFor(model => model.OrgAddress)
                        </th>
                        <th data-column-id="Address2">
                            @Html.DisplayNameFor(model => model.OrgAddress2)
                        </th>
                        <th data-column-id="City">
                            @Html.DisplayNameFor(model => model.OrgCity)
                        </th>
                        <th data-column-id="State">
                            @Html.DisplayNameFor(model => model.OrgState)
                        </th>
                        <th data-column-id="ZipCode">
                            @Html.DisplayNameFor(model => model.OrgZip)
                        </th>
                        <th data-column-id="Phone">
                            @Html.DisplayNameFor(model => model.OrgPhone)
                        </th>
                        <th data-column-id="Website">
                            @Html.DisplayNameFor(model => model.OrgWebsite)
                        </th>
                        <th data-column-id="MainContact">
                            @Html.DisplayNameFor(model => model.MainContact)
                        </th>
                        <th data-column-id="StagingURL">
                            @Html.DisplayNameFor(model => model.StagingUrl)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgAddress2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgCity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgState)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgZip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrgWebsite)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MainContact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StagingUrl)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.OrgID" class="btn btn-xs btn-inverse"><span class="fa fa-desktop"></span></a>
                                <a asp-action="Edit" asp-route-id="@item.OrgID" class="btn btn-xs btn-primary"><span class="fa fa-pencil-alt"></span></a>
                                <a asp-action="Delete" asp-route-id="@item.OrgID" class="btn btn-xs btn-danger"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/vendor/jquery-bootgrid/dist/jquery.bootgrid.js"></script>
    <script src="/vendor/jquery-bootgrid/dist/jquery.bootgrid.fa.js"></script>
}