@model IEnumerable<ProjectBoardWebApp.ViewModel.ProjectFullView>

@{
    ViewData["Title"] = "Projects Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading">
    Projects
    <div class="ml-auto">
        <a class="btn btn-labeled btn-info mb-2" asp-action="Create">
            <span class="btn-label">
                <i class="fa fas fa-plus-square"></i>
            </span>Create Project
        </a>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="text-sm">Open Projects under development</div>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table">
                <thead>
                    <tr>
                        <th data-column-id="Name" data-order="desc">
                            @Html.DisplayNameFor(model => model.projectVm.ProjectName)
                        </th>
                        <th data-column-id="Description">
                            @Html.DisplayNameFor(model => model.projectVm.ProjectDesc)
                        </th>
                        <th data-column-id="StartDate">
                            @Html.DisplayNameFor(model => model.projectVm.ProjectStartDate)
                        </th>
                        <th data-column-id="Status">
                            @Html.DisplayNameFor(model => model.projectVm.ProjectStatus)
                        </th>
                        <th data-column-id="Leader">
                            @Html.DisplayNameFor(model => model.projectVm.LeaderID)
                        </th>
                        <th data-column-id="Client">
                            @Html.DisplayNameFor(model => model.projectVm.ClientId)
                        </th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectVm.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectVm.ProjectDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectVm.ProjectStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectVm.ProjectStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectVm.LeaderID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.orgVm.OrgName) 
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.projectVm.ProjectId" class="btn btn-xs btn-inverse"><span class="fa fa-desktop"></span></a>
                                <a asp-action="Edit" asp-route-id="@item.projectVm.ProjectId" class="btn btn-xs btn-primary"><span class="fa fa-pencil-alt"></span></a>
                                <a asp-action="Delete" asp-route-id="@item.projectVm.ProjectId" class="btn btn-xs btn-danger"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

            @section Scripts {
                <script src="/vendor/jquery-bootgrid/dist/jquery.bootgrid.js"></script>
                <script src="/vendor/jquery-bootgrid/dist/jquery.bootgrid.fa.js"></script>
            }

